[Desktop Entry]
Version=1.0
Type=Application
Name=Video Subtitle OCR
Name[zh_CN]=视频字幕 OCR
GenericName=Subtitle Extraction Tool
GenericName[zh_CN]=字幕提取工具
Comment=Extract hard subtitles from videos using OCR
Comment[zh_CN]=使用 OCR 技术从视频中提取硬字幕
TryExec=/usr/bin/video-subtitle-ocr
Exec=/usr/bin/video-subtitle-ocr
Path=/opt/apps/video_subtitle_ocr
Icon=video-subtitle-ocr
StartupNotify=true
Terminal=false
Categories=AudioVideo;Video;
Keywords=subtitle;ocr;video;字幕;识别;
